#progressBar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 13px;
    padding: 3px;
}
#progressBar div {
    height: 20px;
    width: 0;
    background-color: #4CAF50;
    border-radius: 10px;
}